* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Yantramanav', sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto; /* to center it  */
    padding: 0 25px;  
}

.pages-content {
    min-height: calc(100vh - 273px);    /* 273 is the ideal number */

}