
.profile-page {
    margin-top: 50px;
}

.profile-top {
    display: flex;
    flex-wrap: wrap;
}

.spacer {
    flex-grow: 1;
}


/* .changepic-btn {
    color: white;
    background-color: #ff523b;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

.changepic-btn:hover {
    background-color: #da4531;
} */

.signout-btn {
    width: 130px;
    height: 45px;
    border: none;
    color: white;
    background-color: rgb(204, 2, 2);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.signout-btn:hover {
    background-color: rgb(139, 0, 0);
}

.personal-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .profile-top {
        text-align: center;
        justify-content: center;
    }

    .spacer{
        display: none;
    }

    .signout-btn {
        margin: 50px 0;
    }
}